[Unit]
Description=Part of finTechApp backend, logs finaincial data to database and has remote control
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/systemd/fintechapp.conf
Environment=PYTHONUNBUFFERED=1
Restart=always
StandardOutput=append:/var/log/finTechApp_logger.log
ExecStart=/usr/bin/fintechapp

[Install]
WantedBy=default.target